.profile{
    width: 300px;
    margin-bottom: 70px;
    border-radius: 10%;
    background-color: cyan;
    padding: 3px;
}
.line{
    height: 6px;
    background-color: #000;
    width: 100px;
  margin: 8px auto;
}

#hobby{
     position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#FF80AB 0%, #EA80FC 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
body{
    margin: 0;
    padding-top: 800px;
  text-align:center;
 
}
#about{
    padding: 50px;
    text-align: center;
    font-size: 25px;
}
#head1{
    font-size: 35px;
    line-height: 1.2;
    font-family:  'Pacifico', cursive;
}

.Links:hover {
    background-color: dodgerblue;

}

.menu{
    list-style: none;
    font-family: sans-serif;
    position:absolute;
    top:10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
.Links{
   float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family:fantasy;
    font-size: 20px;
}
#reading{
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Bangers', cursive;
}
#para1{
    font-family: 'Patrick Hand', cursive;
    
}